<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav style="border-bottom: 1px solid black;" class="mb-2">
    <a href="/restaurants">Ver restaurantes</a> | <a href="/restaurants/new">Nuevo restaurante</a>
    <br>
    <a href="/mapa/basico">Ver mapa básico</a> | <a href="/mapa/restaurantes">Ver mapa de restaurantes</a>
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>